body {
    background-color: #7fc3eb;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: #f0d4dc;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(157, 226, 79, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
}

h1 {
    color: #ff6347;
    font-size: 24px;
}

p {
    color: #7127d3;
    font-size: 16px;
}

.footer {
    margin-top: 20px;
    font-style: italic;
    color: #36aed3;
}